@charset 'utf-8';  

.wrapper{
	margin: 0 auto;
	width: 1200px;
}

/*header*/
.header{
	padding-top: 30px;
}
.header .logo{
	float: left;
	width: 360px;
	padding-left: 5px;
}
.header .logo a{
	display: block;
	float: left;
	width: 180px;
	height: 50px;
	background: url(../images/logo_180x50.png);
}
.header .logo p{
	float: left;
	font: 14px/44px "微软雅黑";
	color: #666;
	border-left: 1px solid #eee;
	padding-left: 10px;
	margin: 3px 0 0 10px;
}
/*搜索框*/
.header .search-box{
	padding: 9px 30px 0;
	float: left;
}
.header .search-box .search{
	position: relative;
	width: 536px;
	height: 32px;
	border: 2px solid #c40000;
}
.header .search-box .search input{
	outline: none;
	border: 0;
}
.header .search-box .search ul{
	position: absolute;
	top: 34px;
	left: -2px;
	width: 448px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-bottom: 0;
	z-index: 20;
}
.header .search-box .search ul li{
	height: 24px;
	font: 12px/24px "微软雅黑";
	color: #666;
	padding-left: 10px;
	border-bottom: 1px solid #eee;
}
.header .search-box .search .search-text{
	float: left;
	width: 427px;
	height: 20px;
	font: 14px/20px "微软雅黑";
	color: #666;
	padding: 6px 10px;
}
.header .search-box .search .search-btn{
	float: left;
	width: 89px;
	height: 32px;
	font: 16px/32px "微软雅黑";
	color: #fff;
	text-align: center;
	background-color: #c40000 ;
	cursor: pointer;
}
.header .search-box .hot-search{
	padding-top: 7px;
}
.header .search-box .hot-search a{
	margin-right: 15px;
	font: 12px/18px "微软雅黑";
	color: #999;
}
.header .search-box .hot-search a:hover{
	color: #f60;
	text-decoration: underline;
}
.header .ad-box{
	float: left;
	margin-left: 40px;
	width: 180px;
	height: 60px;
}
.header .ad-box img{
	width: 180px;
	height: 60px;
}
/*nav*/
.nav-box{
	position: relative;
	border-bottom: 2px solid #c40000;
	margin-top: 20px;
}
.nav-box .category-nav-container{
	position: relative;
	padding-left: 34px;
	width: 166px;
	height: 34px;
	background-color: #c40000;
	cursor: pointer;
}
.nav-box .category-nav-container h2{
	font: 14px/34px "微软雅黑";
	color: #fff;
}
.nav-box .category-nav-container .icon{
	position: absolute;
	top: 14px;
	right: 20px;
	width: 10px;
	height: 6px;
	background: url(../images/zolcom_list_ico.png) 0 0;
}
.nav-box .nav{
	position: absolute;
	top: 0;
	left: 235px;
	height: 30px;
}
.nav-box .nav li{
	float: left;
	height: 30px;
	
	padding: 0 20px;
}
.nav-box .nav li a{
	font: 16px/30px "微软雅黑";
	color: #333;
}
.nav-box .nav li a:hover{
	color: #f60;
}
.nav-box .nav-tips{
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	line-height: 30px;
}
.nav-box .nav-tips a {
	color: #f60;
	font-size: 16px;
} 
.nav-box .nav-tips a:hover {
	text-decoration: underline;
}
/* 
	下拉菜单 
*/
.nav-box .category-menu-nav{
	display: none;
	position: absolute;
	left: 0;
	top: 36px;
	width: 234px;
	margin-top: -2px;
	-border-left: 1px solid #3d3d3d;
	z-index: 14;
	background: #fff;
}
/* ul li */
.nav-box .category-menu-nav .nav-container li{
	position: relative;
	padding: 0 0 1px 31px;
	height: 38px;
	font: 12px/38px "微软雅黑";
	color: #fff;
	border-top: 1px solid #3d3d3d;
	background-color: #2d2d2d;
	border-left: 1px solid #3d3d3d;
}
.nav-box .category-menu-nav .nav-container li:hover{
	color: #333;
	background-color: #fff;
}
.nav-box .category-menu-nav .nav-container li:hover .item>a{
	color: #333;
}
.nav-box .category-menu-nav .nav-container li .item>a{
	font: 700 12px/38px "微软雅黑";
	color: #fff;
}
.nav-box .category-menu-nav .nav-container li .item a:hover{
	text-decoration: underline;
}
/* 3级菜单内容 */
.nav-box .category-menu-nav .nav-container .category-menu-content{
	position: absolute;
	left: 199px;
	-top: 0;
	width: 614px;
	height: 409px;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #fff;
	padding: 0 30px 0 105px;
	font: 12px/26px "微软雅黑";
}
.nav-box .category-menu-nav .nav-container .category-menu-content dt{
	position: absolute;
	left: 30px;
}
.nav-box .category-menu-nav .nav-container .category-menu-content .service{
	padding: 21px 0 7px;
	border-bottom: 0;
}
.nav-box .category-menu-nav .nav-container .category-menu-content .service a{
	color: #00ae75;
	font-weight: 700;
}
.nav-box .category-menu-nav .nav-container .category-menu-content .service a:hover{
	text-decoration: underline;
}
.nav-box .category-menu-nav .nav-container .category-menu-content dl{
	padding: 17px 0;
	border-bottom: 1px solid #e6e6e6;
}
.nav-box .category-menu-nav .nav-container .category-menu-content dt{
	font-weight: 700;
	color: #333;
}
.nav-box .category-menu-nav .nav-container .category-menu-content dt a:hover{
	text-decoration: underline;
}
.nav-box .category-menu-nav .nav-container .category-menu-content dd p{
	width: 622px;
}
.nav-box .category-menu-nav .nav-container .category-menu-content dd p a:hover{
	text-decoration: underline;
}
.nav-box .category-menu-nav .nav-container .category-menu-content dd i{
	padding: 0 5px;
	color: #aaa;
}
/* nav内容区 */
.nav-box .category-menu-nav .nav-container .category-menu-content.category-1{
	display: none;
	top: 0;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-2{
	top: -40px;
	display: none;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-3{
	top: -80px;
	display: none;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-4{
	top: -120px;
	display: none;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-5{
	top: -160px;
	display: none;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-6{
	top: -200px;
	display: none;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-7{
	top: -240px;
	display: none;
}
.nav-box .category-menu-nav .nav-container .category-menu-content.category-8{
	display: none;
	top: -280px;
}

/* ad-div */
.nav-box .category-nav-container .category-menu-nav{
	width: 200px;
	height: 70px;
}
.nav-box .category-nav-container .category-menu-nav .ad-div img{
	width: 200px;
	height: 70px;
}

/*详情顶部*/
.zs-wrapper .zs-bread-title{
	font: 12px/32px "微软雅黑";
	color: #999;
}
.zs-wrapper .zs-bread-title a{
	font: 12px/32px "微软雅黑";
	color: #333;
}
/*商品展示*/
.zs-wrapper .zs-bread-crumbs{
	border: 1px solid #ededed;
}
.zs-bread-crumbs .zs-deal-detail{
	float: left;
	width: 990px;
}
/* 放大镜区域 */
.zs-bread-crumbs .zs-deal-detail .zs-focus{
	position: relative;
	float: left;
	width: 400px;
	padding: 10px 0 0 20px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-big-pic{
	position: relative;
	width: 400px;
	height: 400px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-big-pic .magicZoomPup{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	background-color: #fff;
	opacity: 0.5;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zoom-big{
	display: none;
	overflow: hidden;
	position: absolute;
	left: 420px;
	top: 10px;
	width: 400px;
	height: 400px;
	z-index: 11;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zoom-big img{
	position: absolute;
	left: 0;
	top: 0;
	width: 800px;
	height: 800px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-focus-thumb{
	width: 400px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-focus-thumb .zs-focus-list{
	width: 100%;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-focus-thumb .zs-focus-list li{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 10px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-focus-thumb .zs-focus-list li img{
	width: 70px;
	height: 70px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-focus-thumb .zs-focus-list li.active{
	border: 2px solid #c00;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-focus-thumb .zs-focus-list li a{
	margin: 0;
	padding: 0;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action{
	position: relative;
	padding: 15px 0;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action i{
	opacity: 0.5;
	width: 15px;
	height: 20px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-collect{
	margin-right: 20px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action a{
	padding-left: 20px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-collect i{
	position: absolute;
	left: 0;
	top: 20px;
	background: url(../images/bg.png) -46px -290px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-collect:hover{
	color: #c00;
	text-decoration: underline;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-collect:hover i{
	opacity: 1;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-share i{
	position: absolute;
	left: 92px;
	top: 20px;
	background: url(../images/bg.png) -46px -314px;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-share:hover{
	color: #c00;
	text-decoration: underline;
}
.zs-bread-crumbs .zs-deal-detail .zs-focus .zs-action .zs-share:hover i{
	opacity: 1;
}
/* 商品选择 数量 颜色 套餐 */
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap{
	float: left;
	margin-left: 15px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap h3{
	font: 16px/22px "微软雅黑";
	color: #333;
	padding-top: 7px;
	margin-top: 10px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-price-panel{
	position: relative;
	width: 510px;
	height: 30px;
	padding: 5px 10px;
	margin-top: 18px;
	background-color: #f7f7f7;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-price-panel span{
	line-height: 20px;
	color: #666;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-price-panel em{
	color: #c00;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-price-panel .zs-price{
	position: absolute;
	left: 80px;
	font: 700 24px/30px "微软雅黑";
	color: #c00;
}
/*配送 评价 服务保障*/
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight{
	padding: 4px 0 4px 10px;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight .place-choice{
	position: relative;
	display: inline-block;
	width: 44px;
	padding: 0 6px;
	border: 1px solid #e6e6e6;
	margin-right: 10px;
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight .place-choice i{
	position: absolute;
	right: 6px;
	width: 20px;
	height: 20px;
	background: url(../images/icon20150707.png) no-repeat 0 0 ;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight del{
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight u{
	font-weight: 700;
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight-con{
	position: relative;
	height: 33px;
	line-height: 33px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight-con span{
	margin-left: 8px;
	color: #666;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight-con img{
	margin: 0 3px;
	cursor: pointer;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-freight-con u{
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-evaluate{
	height: 35px;
	line-height: 35px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-evaluate span{
	color: #666;
	padding-left: 8px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-evaluate em{
	padding: 0 10px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-evaluate a{
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-evaluate a:hover{
	color: #c00;
	text-decoration: underline;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-evaluate i{
	color: #f60;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-service-bar{
	height: ;
	line-height: ;
	color: #666;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-service-bar span{
	padding-left: 8px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-service-bar a{
	color: #36c;
	padding: 0 3px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-service-infor{
	padding-left: 72px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-service-infor li{
	float: left;
	width: 110px;
	height: 27px;
	line-height: 27px;
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-service-infor li img{
	width: 22px;
	height: 22px;
	margin-right: 5px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-skin-inner{
	margin-top: 12px;
	padding-top: 15px;
	border-top: 1px solid #f2f2f2;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-skin-inner .zs-color-type{
	position: relative;
	padding-left: 65px;
	height: 32px;
	line-height: 32px;
	color: #666;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-skin-inner .zs-color-type span{
	position: absolute;
	left: 8px;
	top: 0;
	height: 32px;
	line-height: 32px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-skin-inner .zs-color-type .color{
	position: relative;
	width: 40px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: 2px solid #c00;
	margin-left: 10px;
	cursor: pointer;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-skin-inner .selected{
	background: url(../images/bg.png) no-repeat 0 -346px;
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: 0;
	right: -2;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-suit{
	position: relative;
	height: 42px;
	line-height: 43px;
	color: #666;
	padding-left: 65px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-suit span{
	position: absolute;
	left: 8px;
	top: 0;
	margin-right: 10px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-suit .suit-name{
	position: relative;
	left: 10px;
	display: inline-block;
	line-height: 26px;
	font-size: 12px;
	color: #333;
	padding: 0 9px;
	border: 2px solid #fff;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-suit .suit-name i{
	display:none;
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: 0;
	right: -1px;
	background: url(../images/bg.png) no-repeat 0 -346px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-suit .suit-name i.actived{
	display: block;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-suit .suit-name.actived{
	border: 2px solid #c00;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zp-suit-desc{
	height: 20px;
	line-height: 20px;
	border: 1px solid #eee;
	background: #fafafa;
	padding: 8px 10px;
	margin-left: 75px;
	color: #333;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zp-suit-desc p{
	display: none;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zp-suit-desc p.show{
	display: block;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity{
	position: relative;
	height: 32px;
	line-height: 32px;
	color: #333;
	padding-left: 65px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity span{
	position: absolute;
	left: 8px;
	top: 0;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity .amount-widget{
	position: relative;
	margin: 20px 0 0 10px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity .amount-widget .changeAmount{
	position: absolute;
	top: 0;
	width: 28px;
	height: 28px;
	line-height: 28px;
	font-size: 22px;
	color: #666;
	background-color: #f8f8f8;
	border: 1px solid #e6e6e6;
	text-align: center;
	cursor: pointer;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity .amount-widget input{
	position: absolute;
	top: 0;
	left: 38px;
	padding: 5px 10px;
	height: 18px;
	line-height: 20px;
	width: 44px;
	border: 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	outline: none;
	text-align: center;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity .amount-widget .increase{
	left: 100px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-quantity u{
	margin-left: 145px;
	color: #999;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-deal-btn{
	font: 18px/50px "微软雅黑";
	text-align: center;
	padding: 32px 0 20px 80px;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-deal-btn .zs-buy-now{
	float: left;
	color: #fff;
	width: 140px;
	height: 50px;
	background-color: #c00;
	border: 1px solid #c00;
	margin-right: 10px;
	cursor: pointer;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-deal-btn .zs-buy-now:hover{
	background-color: #b90000;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-deal-btn .zs-store-buy{
	float: left;
	color: #c00;
	width: 140px;
	height: 50px;
	background-color: #ffeded;
	border: 1px solid #ffd9d9;
	cursor: pointer;
}
.zs-bread-crumbs .zs-deal-detail .zs-deal-wrap .zs-detail-infor .zs-deal-btn .zs-store-buy:hover{
	background-color: #ffe2e2;
}
/*店铺信息  右侧QQ*/
.zs-bread-crumbs .zs-store-infor{
	float: right;
	width: 197px;
	border-left: 1px solid #ededed;
	padding-bottom: 144px;
}
.zs-bread-crumbs .zs-store-infor .zs-store-name{
	height: 74px;
	line-height: 74px;
	text-align: center;
	border-bottom: 1px solid #ededed;
}
.zs-bread-crumbs .zs-store-infor .zs-store-name a{
	color: #134ba0;
	font-size: 14px;
}
.zs-bread-crumbs .zs-store-infor .zs-store-name a:hover{
	color: #c00;
	text-decoration: underline;
}
.zs-bread-crumbs .zs-store-infor .zs-store-connection li{
	padding-left: 14px;
	height: 32px;
	line-height: 32px;
}
.zs-bread-crumbs .zs-store-infor .zs-store-connection li i{
	color: #333;
	padding: 0 3px;
}
.zs-bread-crumbs .zs-store-infor .zs-modbox p{
	padding-left: 14px;
	height: 32px;
	line-height: 32px;
}
.zs-bread-crumbs .zs-store-infor .zs-modbox li{
	height: 24px;
	line-height: 24px;
	padding-left: 14px;
}
.zs-bread-crumbs .zs-store-infor .zs-modbox em{
	font-weight: 700px;
	color: #c00;
	margin-right: 14px;
}
.zs-bread-crumbs .zs-store-infor .zs-modbox i{
	color: #c00;
}
.zs-bread-crumbs .zs-store-infor .zs-collect-box {
	margin-top: 27px;
}
.zs-bread-crumbs .zs-store-infor .zs-collect-box .zs-store-btn{
	display: block;
	float: left;
	margin-left: 14px;
	width: 78px;
	height: 38px;
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	font: 14px/38px "微软雅黑";
	color: #666;
	text-align: center;
}
.zs-bread-crumbs .zs-store-infor .zs-collect-box .zs-store-btn:hover{
	background-color: #f2f2f2;
}
/*店铺热卖*/
.zs-modbox {
	border: 1px solid #eee;
	margin-top: 10px;
}
.zs-modbox .zs-modbox-hd{
	height: 32px;
	line-height: 32px;
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}
.zs-modbox .zs-modbox-hd p{
	padding: 0 10px;
	color: #333;
}
.zs-modbox .zs-modbox-list li{
	float: left;
	position: relative;
	width: 150px;
	padding-top: 35px;
	margin-left: 42px;
}
.zs-modbox .zs-modbox-list li a{
	font: 12px/18px "微软雅黑";
	color: #333;
}
.zs-modbox .zs-modbox-list li a:hover{
	color: #c00;
	text-decoration: underline;
}
.zs-modbox .zs-modbox-list li img{
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 150px;
}
.zs-modbox .zs-modbox-list li p{
	margin-top: 180px;
}
.zs-modbox .zs-modbox-list li span{
	display: block;
	color: #f60;
	font-size: 14px;
	padding: 12px 0;
	font-weight: 700;
}
.zs-modbox .zs-modbox-list li span i{
	font-size: 10px;
	font-weight: 700;
}

/*
	商品详情 评价 
*/
.zs-side-left {
	width: 200px;
}
.zs-side-left .zs-modbox-hd {
	padding-left: 10px;
}
.zs-side-left .zs-modbox .searchgoods{
	padding: 10px 15px;
}
.zs-side-left .zs-modbox .searchgoods dl{
	position: relative;
	margin-bottom: 6px;
	padding-left: 48px;
}
.zs-side-left .zs-modbox .searchgoods dl dt{
	position:  absolute;
	left: 0;
	top: 0;
	height: 26px;
	line-height: 26px;
	color: #666;
}
.zs-side-left .zs-modbox .searchgoods .text{
	padding: 3px 5px;
	width: 104px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #e6e6e6;
}
.zs-side-left .zs-modbox .searchgoods .text2{
	width: 36px;
	padding: 3px 5px;
	height: 18px;
	line-height: 18px;
	border: 1px solid #e6e6e6;
}
.zs-side-left .zs-modbox .searchgoods .goodsbtn{
	margin-left: 48px;
	width: 60px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #d9d9d9;
	font: 700 12px/26px arial;
	color: #333;
	cursor: pointer;
	outline: none;
}

/*shangpin*/
.zs-side-left .zs-modbox{
	margin-top: 10px;
	border: 1px solid #ededed;
}
.zs-side-left .zs-modbox .zs-modbox-hd {
	padding: 0 10px;
	height: 32px;
	font: 14px/32px "微软雅黑";
	border-bottom: 1px solid #ededed;
	background-color: #fafafa;
}
.zs-side-left .zs-modbox .goods-category dt{
	padding-left: 37px;
	height: 34px;
	font: 14px/34px "微软雅黑";
	background-color: #f7f7f7;
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
}
.zs-side-left .zs-modbox .goods-category .all-goods dt{
	background-color: #fff;
	border: 0 none;
	font-weight: 700;
}
.zs-side-left .zs-modbox .goods-category .all-goods dd{
	display: block;
	padding:  0 0 7px 37px;
	line-height: 18px;
}
.zs-side-left .zs-modbox .goods-category .all-goods dd a{
	margin-right: 14px;
	color: #666;
}
.zs-side-left .zs-modbox .goods-category .all-goods dd a:hover{
	color: #c00;
	text-decoration: underline;
}
.zs-side-left .zs-modbox .goods-category dd{
	padding: 5px 0;
	line-height: 22px;
}
.zs-side-left .zs-modbox .goods-category .unfold dt{
	background: url(../images/bg.png) no-repeat -23px -602px;
	background-color: #f7f7f7;
}
.zs-side-left .zs-modbox .goods-category .fold dt{
	background: url(../images/bg.png) no-repeat -23px -570px;
	background-color: #f7f7f7;
}
.zs-side-left .zs-modbox .goods-category ul{
	padding-left: 43px;
}
.zs-side-left .zs-modbox .goods-category ul li{
	padding-left: 10px;
	line-height: 22px;
	background: url(../images/bg.png) no-repeat -56px -486px;
	background-position: -56px -468px;
}
.zs-side-left .zs-modbox .goods-category dt h3{
	font: 14px/34px "微软雅黑";
} 

/*
	商品详情右侧tabbar
*/
.zs-main {
	width: 990px;
}
.zs-main .zs-tabbar ul{
	height: 36px;
	border: 1px solid #ededed;
	background-color: #fafafa;
}
.zs-main .zs-tabbar ul li{
	float: left;
	border-right: 1px solid #ededed;
}
.zs-main .zs-tabbar ul li.cur{
	background-color: #fff;
	border-top: 2px solid #c00;
	margin-top: -1px;
}
.zs-main .zs-tabbar ul li a{
	padding: 0 15px;
	color: #333;
	font: 14px/36px "微软雅黑";
	white-space: nowrap;
}
.zs-main .zs-tabbar ul li a:hover{
	color: #c00;
}
.zs-main .zs-tabbar ul li .phone-purchase{
	overflow: hidden;
	position: relative;
	padding-left: 10px;
}
.zs-main .zs-tabbar ul li .phone-purchase a{
	padding-left: 20px;
	background: url( ../images/erweima.png ) no-repeat ;
}
.zs-main .zs-tabbar ul li .phone-purchase .ico{
	position: absolute;
	top: 16px;
	right: 11px;
	width: 5px;
	height: 3px;
	background: url(../images/sanjiao.png) no-repeat;
}
.zs-main .zs-tabbar ul .photoCode{
	position: relative;
}
.zs-main .zs-tabbar ul .photoCode .code{
	position: absolute;
	display: none;
	top: 36px;
	left: -1px;
	border: 1px solid #eee;
	border-top: 0;
}
.zs-main .zs-tabbar ul .photoCode .code img{
	width: 105px;
	height: 105px;
}
.zs-main .zs-tabbar ul .photoCode:hover .code{
	display: block;
	z-index: 13;
}

/*
	商品详情右侧tabbar 相关content
*/
.zs-main .zs-container{
	position: relative;
	width: 790px;
	height: 12890;
}
.zs-main .zs-container .item{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: none;
}
.zs-main .zs-container .item.first{
	position: relative;
	display: block;
}

/* 右侧导航栏 */
.zs-main .zs-sidebar{
	float: right;
	width: 198px;
	height: 1000px;
	border: 1px solid #ededed;
	border-top: 0;
	background-color: #fafafa;
}
.zs-main .zs-sidebar .zs-quick-menu{
	margin: 20px 0;
	padding: 0 30px;
	overflow: hidden;
}
.zs-main .zs-sidebar .zs-quick-menu li{
	height: 45px;
	font: 14px/45px "微软雅黑";
}
.zs-main .zs-sidebar .zs-quick-menu li a{
	padding-left: 22px;
	background: url(../images/quick-menu.png) no-repeat 0 -13px;
	color: #333;
}
.zs-main .zs-sidebar .zs-quick-menu li.cur a{
	color: #c00;
	background-position: 0 -57px;
}
.zs-main .zs-sidebar .zs-quick-menu li:hover a{
	color: #c00;
	background-position: 0 -57px;
}

/*
	自动显示
*/
/* 顶部 */
.auto-show-content{
	display: none;
}
.auto-show-content .zs-tabbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fafafa;
}
.auto-show-content .zs-tabbar ul{
	margin-left: 322px;
	height: 36px;
	border: 1px solid #ededed;
	background-color: #fafafa;
}
.auto-show-content .zs-tabbar ul li{
	float: left;
	border-right: 1px solid #ededed;
}
.auto-show-content .zs-tabbar ul li.cur{
	background-color: #fff;
	border-top: 2px solid #c00;
	margin-top: -1px;
}
.auto-show-content .zs-tabbar ul li a{
	padding: 0 15px;
	color: #333;
	font: 14px/36px "微软雅黑";
	white-space: nowrap;
}
.auto-show-content .zs-tabbar ul li a:hover{
	color: #c00;
}
.auto-show-content .zs-tabbar ul li .phone-purchase{
	overflow: hidden;
	position: relative;
	padding-left: 10px;
}
.auto-show-content .zs-tabbar ul li .phone-purchase a{
	padding-left: 20px;
	background: url( ../images/erweima.png ) no-repeat ;
}
.auto-show-content .zs-tabbar ul li .phone-purchase .ico{
	position: absolute;
	top: 16px;
	right: 11px;
	width: 5px;
	height: 3px;
	background: url(../images/sanjiao.png) no-repeat;
}
.auto-show-content .zs-tabbar ul .photoCode{
	position: relative;
}
.auto-show-content .zs-tabbar ul .photoCode .code{
	position: absolute;
	display: none;
	top: 36px;
	left: -1px;
	border: 1px solid #eee;
	border-top: 0;
}
.auto-show-content .zs-tabbar ul .photoCode .code img{
	width: 105px;
	height: 105px;
}
.auto-show-content .zs-tabbar ul .photoCode:hover .code{
	display: block;
	z-index: 13;
}

/* 右侧 */

.auto-show-content .zs-sidebar{
	position: absolute;
	top: 38px;
	left: 1112px;
	width: 198px;
	height: 13944px;
	background-color: #fafafa;
	border: 1px solid #ededed;
	border-top: 0;
	overflow:hidden;
}
.auto-show-content .zs-sidebar .zs-quick-menu{
	position: fixed;
	-top: 38px;
	left: 1112px;
	margin: 20px 0;
	padding: 0 30px;
	overflow: hidden;
}
.auto-show-content .zs-sidebar .zs-quick-menu li{
	height: 45px;
	font: 14px/45px "微软雅黑";
}
.auto-show-content .zs-sidebar .zs-quick-menu li a{
	padding-left: 22px;
	background: url(../images/quick-menu.png) no-repeat 0 -13px;
	color: #333;
}
.auto-show-content .zs-sidebar .zs-quick-menu li.cur a{
	color: #c00;
	background-position: 0 -57px;
}
.auto-show-content .zs-sidebar .zs-quick-menu li:hover a{
	color: #c00;
	background-position: 0 -57px;
}

/* 
	用户反馈
*/
.survey-links{
	position: fixed;
	top: 50%;
	left: 30px;
	width: 76px;
	height: 76px;
	background: url( ../images/survey_ico.png ) no-repeat;
	margin-top: -38px;
}

/* 
	右侧黑色fixed导航条（侧边栏 ）
*/
.toolbar-wrapper{
	position: fixed;
	top: 0;
	right: 0;
	width: 37px;
	height: 100%;
	background-color: #2d2d2d;
	z-index: 16;
}
.toolbar-wrapper .zc-operation-tabbox{
	position: absolute;
	top: 138px;
	left: 0;
	width: 100%;
}
.toolbar-wrapper .zc-operation-tabbox .tab-item{
	position: relative;
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	color: #fff;
	z-index: 17;
}
.toolbar-wrapper .zc-operation-tabbox .tab-item:hover{
	background-color: #f33;
}
.toolbar-wrapper .zc-operation-tabbox .tab-item .iconfont{
	font-size: 24px;
	text-align: center;
}
.toolbar-wrapper .zc-operation-tabbox .tab-item .content-item{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 68px;
	height: 38px;
	font: 12px/38px "微软雅黑";
	color: #fff;
	text-align: center;
	background-color: #f33;
	z-index: 0;
}
/* 回到顶部 */
.toolbar-wrapper .zc-toolbar-tool{
	position: absolute;
	left: 0;
	bottom: 0;
}
.toolbar-wrapper .zc-toolbar-tool .zc-feedback{
	padding: 5px;
	width: 27px;
	height: 27px;
	font: 12px/14px "微软雅黑";
	color: #fff;
}
.toolbar-wrapper .zc-toolbar-tool .iconfont{
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}
.toolbar-wrapper .zc-toolbar-tool .iconfont:hover{
	background-color: #f33;
}

/* 客服 */
.zs-consult-layer{
	position: fixed;
	right: 12px;
	top: 190px;
}
.zs-consult-layer li{
	width: 78px;
	height: 74px;
	border: 1px solid #ededed;
	text-align: center; 
}
.zs-consult-layer li:hover{
	background-color: #ffeded;
}
.zs-consult-layer li a{
	display: inline-block;
	padding-top: 45px;
}
.zs-consult-layer li.quick-ask{
	background: url(../images/bg1.png) no-repeat 50% -976px;
}
.zs-consult-layer li.qq-ask{
	border-top: 0;
	background: url(../images/bg1.png) no-repeat 50% -1056px;
}

/* 返回顶部 */
.back-to-top{
	position: fixed;
	right: 37px;
	bottom: 55px;
}
.back-to-top li{
	padding: 10px;
	width: 40px;
	height: 40px;
	background-color: #b10000;
	text-align: center;
	opacity: 0.7;
	margin-bottom: 2px;
}
.back-to-top li a{
	line-height: 50px;
	font: 14px/16px "微软雅黑";
	color: #fff;
}
.back-to-top li:hover{
	opacity: 1;
}
.back-to-top li.iconfont{
	display: none;
	font: 30px/40px "微软雅黑";
	color: #fff;
}


/*
	footer
*/
.footer{
	border-top: 1px solid #d9d9d9;
	margin-top: 20px;
}
.footer .footer-service-relate{
	padding: 20px 0;
}
.footer .footer-service-relate dl{
	float: left;
	width: 175px;
}
.footer .footer-service-relate dl dt{
	font: 700 14px/28px "微软雅黑";
	color: #666;
}
.footer .footer-service-relate dl dd p{
	font: 12px/28px "微软雅黑";
}
.footer .footer-service-relate dl dd p a:hover{
	text-decoration: underline;
}
.footer .footer-service-relate .hotline{
	background: url(../images/footer.png) no-repeat 0 -90px;
	padding-left: 60px;
	width: 210px;
}
.footer .footer-service-relate .hotline .weibo{
	display: inline-block;
	padding-left: 26px;
	color: #333;
	background: url(../images/footer.png) no-repeat 0 0 ;
	font: 12px/32px "微软雅黑";
}
.footer .footer-service-relate .cooperation{
	float: right;
	background: url(../images/footer.png) no-repeat 0 -215px;
	padding-left: 60px;
	width: 145px;
}
.footer .footer-service-relate .cooperation p{
	font: 12px/28px "微软雅黑";
}
.footer .footer-service-relate .cooperation .btn{
	display: block;
	margin-top: 6px;
	width: 80px;
	height: 26px;
	font: 12px/26px "SimSun";
	color: #fff;
	background-color: #f33;
	text-align: center;
}
.footer .footer-service-relate .cooperation .btn:hover{
	background-color: #c40000;
}
/*footer 下*/
.footer-nav-bar{
	padding: 25px 0 30px;
	background-color: #2d2d2d;
}
.footer-nav-bar .footer-nav{
	margin-left: -10px;
	padding-top: 7px;
	font: 12px/24px "微软雅黑";
	color: #666;
}
.footer-nav-bar .footer-nav a{
	margin: 0 10px;
	color: #fff;
	white-space: normal;
	word-break: keep-all;
}
.footer-nav-bar .copyright{
	margin-left: -10px;
	padding-top: 20px;
	font: 12px/24px "微软雅黑";
	color: #666;
}
.footer-nav-bar .copyright a{
	margin: 0 10px;
	color: #999;
	white-space: normal;
	word-break: keep-all;
}
.footer-nav-bar a:hover{
	text-decoration: underline;
}










