@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; 
}

html {
  font-size: 20px; 
}

html, body {
  height: 100%;
  overflow: hidden; 
}

img {
  display: block; 
}
.music-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url(../img/music_off_8d94020.png);
  background-size: cover;
  z-index: 3;
  animation: imgRotate 3s linear infinite;
}
@keyframes imgRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
.swiper-container {
  height: 100%;
  position: relative; 
}

.swiper-container .swiper-slide {
  height: 100%;
  position: relative;
  background-size: 100% 100%; 
}

.swiper-container .happiness {
  font-size: 2.765333rem;
  font-weight: 700;
  color: #fff;
}
.swiper-container .detail {
  font-size: 1.725333rem;
  font-weight: 700;
  color: #fff;
}
.swiper-container .detail span {
  color: red;
  font-size: 2rem;
  text-decoration: underline;
}
.swiper-container .detail u {
  display: inline-block;
  width: 60px;
  height: 56px;
  background: url(../img/love.png) no-repeat;
  background-size: cover;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  font-size: 1.425333rem;
  animation: HeartRotateZ 1s linear infinite alternate;
}
@keyframes HeartRotateZ {
  0% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(20deg);
  }
}
.swiper-container .next {
  position: fixed;
  bottom: 30px;
  height: 50px;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  z-index: 2;
  animation: updown 1.2s ease-in-out infinite;
  -webkit-animation: updown 1.2s ease-in-out infinite; 
}
@keyframes updown {
  0% {
    bottom: 30px;
    opacity: 1; 
  }
  100% {
    bottom: 70px;
    opacity: 0.2; 
  } 
}

@-webkit-keyframes updown {
  0% {
    transform: translateY(40px);
    opacity: 1; 
  }
  100% {
    transform: translateY(0);
    opacity: 0.2;
  } 
}

.swiper-container .slide1 {
  background: url(../img/bg_page1.jpg) no-repeat top left;
  background-size: cover; 
}
.swiper-container .slide1 .slide1_1 {
  position: absolute;
  top: 31.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide1 .slide1_2 {
  position: absolute;
  top: 35.066667rem;
  left: 2.866667rem;
}

.swiper-container .slide2 {
  background: url(../img/bg_page2.jpg) no-repeat top left;
  background-size: cover; 
}
.swiper-container .slide2 .slide2_1 {
  position: absolute;
  top: 31.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide2 .slide2_2 {
  position: absolute;
  top: 35.066667rem;
  left: 2.866667rem;
}
.swiper-container .slide3 {
  background: url(../img/bg_page3.jpg) no-repeat top left;
  background-size: cover; 
}
.swiper-container .slide3 .slide3_1 {
  position: absolute;
  top: 4.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide3 .slide3_2 {
  position: absolute;
  top: 5.066667rem;
  left: 1.966667rem;
}
.swiper-container .slide4 {
  background: url(../img/bg_page4.jpg) no-repeat top left;
  background-size: cover; 
}
.swiper-container .slide4 .slide4_1 {
  position: absolute;
  top: 4.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide4 .slide4_2 {
  position: absolute;
  top: 8.066667rem;
  left: 2.866667rem;
}
.swiper-container .slide5 {
  background: url(../img/bg_page5.jpg) no-repeat top left;
  background-size: cover; 
}
.swiper-container .slide5 .slide5_1 {
  position: absolute;
  top: 31.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide5 .slide5_2 {
  position: absolute;
  top: 35.066667rem;
  left: 2.866667rem;
}
.swiper-container .slide6 {
  background: url(../img/bg_page6.jpg) no-repeat top left -8.266667rem;
  background-size: cover; 
}
.swiper-container .slide6 .slide6_1 {
  position: absolute;
  top: 31.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide6 .slide6_2 {
  position: absolute;
  top: 35.066667rem;
  left: 2.866667rem;
}
.swiper-container .slide7 {
  background: url(../img/bg_page7.jpg) no-repeat top left -4.266667rem;
  background-size: cover; 
}
.swiper-container .slide7 .slide7_1 {
  position: absolute;
  top: 4.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide7 .slide7_2 {
  position: absolute;
  top: 8.066667rem;
  left: 2.866667rem;
}
.swiper-container .slide8 {
  background: url(../img/bg_page8.jpg) no-repeat top left -4.266667rem;
  background-size: cover; 
}
.swiper-container .slide8 .slide8_1 {
  position: absolute;
  top: 4.666667rem;
  left: 2.866667rem;
}
.swiper-container .slide8 .slide8_2 {
  position: absolute;
  top: 8.066667rem;
  left: 2.866667rem;
}

.swiper-container .slide3 .slide3_3 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -1.066667rem;
    width: 2.133333rem;
    animation: zoomB 0.5s linear infinite alternate;
    -webkit-animation: zoomB 0.5s linear infinite alternate;
}
@keyframes zoomB {
  from {
    bottom: 20%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
  }
  to {
    bottom: 19%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
  }
}
@-webkit-keyframes zoomB {
  from {
    top: 700px;
    left: 530px;
    width: 60px;
  }
  to {
    top: 695px;
    left: 525px;
    width: 70px;
  }
}