@charset 'utf-8';  
/*top*/
.cart-topbar{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f5f5f5;
}
.cart-topbar .wrapper .zol-login-info{
	float: left;
	line-height: 29px;
}
.cart-topbar .wrapper .zol-login-info span{
	margin-right: 23px;
}
.cart-topbar .wrapper .zol-login-info .zol-login a{
	color: #36c;
}
.cart-topbar .wrapper .zol-login-info .login-act{
	color: #134ba0;
}
.cart-topbar .wrapper .zol-login-info .login-act:hover{
	colot: #f60;
}
.cart-topbar .wrapper .zol-login-info span a:hover{
	color: #c00;
	text-decoration: underline;
}
/*nav*/
.cart-topbar .wrapper .zol-quick-menu{
	float: right;
	line-height: 29px;
}
.cart-topbar .wrapper .zol-quick-menu li{
	position: relative;
	float: left;
	padding: 0 10px;
}
.cart-topbar .wrapper .zol-quick-menu li a{
	color: #666;
	font: 12px/29px "微软雅黑";
}
.cart-topbar .wrapper .zol-quick-menu li:hover a{
	color: #c00;
	text-decoration: underline;
}
.cart-topbar .wrapper .zol-quick-menu li .ico{
	position: absolute;
	width: 7px;
	height: 4px;
	right: 10px;
	top: 13px;
	background: url(../images/topbar_ico.png) no-repeat 0 -45px;
}
.cart-topbar .wrapper .zol-quick-menu .zol-my-center,
.cart-topbar .wrapper .zol-quick-menu .zol-mobil,
.cart-topbar .wrapper .zol-quick-menu .contact-kefu{
	padding-right: 20px;
}
.cart-topbar .wrapper .zol-quick-menu .zol-my-center:hover,
.cart-topbar .wrapper .zol-quick-menu .zol-mobil:hover,
.cart-topbar .wrapper .zol-quick-menu .contact-kefu:hover{
	background-color: #fff;
	padding-left: 9px;
	padding-right: 19px;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.cart-topbar .wrapper .zol-quick-menu .zol-my-center:hover .zol-my-center-bd,
.cart-topbar .wrapper .zol-quick-menu .zol-mobil:hover .zol-mobile-bd,
.cart-topbar .wrapper .zol-quick-menu .contact-kefu:hover .zol-service-tel{
	display: block;
}
	

.cart-topbar .wrapper .zol-quick-menu .zol-my-center .zol-my-center-bd{
	display: none;
	position: absolute;
	top:30px;
	left: -1px;
	width: 100px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	padding: 0 10px;
	background-color: #fff;
}
.cart-topbar .wrapper .zol-quick-menu .zol-my-center .zol-my-center-bd a{
	display: block;
	width: 80px;
	height: 30px;
}
.cart-topbar .wrapper .zol-quick-menu .zol-mobil .zol-mobile-bd{
	display: none;
	position: absolute;
	top: 30px;
	left:-1px;
	width: 174px;
	height: 170px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	background-color: #fff;
	z-index: 12;
}
.cart-topbar .wrapper .zol-quick-menu .zol-mobil .zol-mobile-bd img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -63px;
	margin-top: -63px;
	width: 125px;
	height: 125px;
}
.cart-topbar .wrapper .zol-quick-menu .contact-kefu .zol-service-tel{
	display:  none;
	position: absolute;
	top: 30px;
	right: 0;
	padding-left: 10px;
	width: 98px;
	height: 32px;
	border: 1px solid #e6e6e6;
	border-top: 0;
}
.cart-topbar .wrapper .zol-quick-menu .zol-mobil a{
	background: url(../images/topbar_ico.png) no-repeat -8px -6px;
	padding-left: 15px;
}
.cart-topbar .wrapper .zol-quick-menu .topbar-separator{
	padding: 0 3px;
}






















