@function pxrem($rem){
    @return $rem/20 *1rem;
}

*{
    margin:0px;
    padding:0px;
}
html{
    font-size:20px;
}
html,body{
    height:100%;
    overflow:hidden;
}
img{
    display:block;
}
li{
         list-style: none;
      }
.swiper-container{
    height:100%;
    position:relative;
    .next{
        position:fixed;
        bottom:40px;
        height:50px;
        width:80px;
        left:50%;
        margin-left:-40px;
        z-index:2;
        animation: along1 2s ease-in-out infinite;
        -webkit-animation:along1 2s ease-in-out infinite;
    }
    @keyframes along1{
        0%{
            transform:translateY(0);
            opacity:1;
        }
        100%{
            transform:translateY(40px);
            opacity:0.2;
        }
    }
    @-webkit-keyframes along1{
        0%{
            transform:translateY(0);
              opacity:1;
        }
        100%{
             transform:translateY(40px);
               opacity:0.2;
        }
    }
    .swiper-slide{
        height:100%;
        position:relative;
        background:url(../img/e6384829-f6c1-4678-8dba-ddefe5c229a1-2211.jpg) no-repeat top left;
        background-size:100% 100%;
    }
    .slide1,.slide2{
        background:url(../img/0_4.jpg) no-repeat top left;
        background-size:100% 100%;
    }
    .slide1{
         .slide1_1{
                position:absolute;
                top:0px;
                left:50%;
                width:50%;
                height:pxrem(100);
                margin-left:-25%; 
         }
        .slide1_2{
              position:absolute;
            top:pxrem(20);
            left:50%;
            width:80%;
            height:pxrem(150);
            margin-left:-40%;
        }
        .slide1_3{
            position:absolute;
            top:pxrem(180);
            left:50%;
            width:pxrem(350);
            height:pxrem(350);
            margin-left:pxrem(-175); 
        }
        .slide1_4{
            position:absolute;
            top:pxrem(550);
            left:50%;
            width:pxrem(350);
            height:pxrem(70);
            margin-left:pxrem(-175);
        }
        .slide1_5{
            position:absolute;
            top:pxrem(620);
            left:50%;
            width:pxrem(350);
            height:pxrem(70);
            margin-left:pxrem(-175);
        }
        .slide1_6{
            position:absolute;
            top:pxrem(660);
            left:50%;
            width:pxrem(400);
            height:pxrem(50);
            margin-left:pxrem(-200);
            text-align:center;
            line-height:pxrem(50);
            font-family:"微软雅黑";
            font-size:pxrem(28);
        }
        .slide1_7{
            position:absolute;
            top:pxrem(710);
            width:pxrem(380);
            height:pxrem(70);
            left:50%;
            margin-left:pxrem(-190);
        }
             .slide1_8{
            position:absolute;
            top:pxrem(710);
            left:50%;
            width:pxrem(380);
            height:pxrem(70);
            margin-left:pxrem(-190);
            text-align:center;
            line-height:pxrem(70);
            font-family:"微软雅黑";
            font-size:pxrem(28);
        }
        .slide1_9,.slide1_10{
            position:absolute;
            top:pxrem(735);
            width:pxrem(30);
            height:pxrem(30);
            left:50%;
        }
        .slide1_9{
            margin-left:pxrem(-170);
        }
        .slide1_10{
            margin-left:pxrem(150);
        }
        .slide1_11{
            position:absolute;
            top:pxrem(820);
            width:pxrem(500);
            height:pxrem(80);
            text-align:center;
            left:50%;
            line-height:pxrem(80);
            font-size:pxrem(50);
            margin-left:pxrem(-250);
            border-top:2px dashed darkslategray;
            border-bottom:2px dashed darkslategray;
        }
    }
    .slide2{
        .slide2_1{
            position:absolute;
            width:pxrem(400);
            height:pxrem(300);
            top:0px;
            left:50%;
            margin-left:pxrem(-200);
        }
         .slide2_2{
            position:absolute;
            width:pxrem(140);
            height:pxrem(60);
            top:pxrem(20);
            left:50%;
            margin-left:pxrem(-70);
        }
           .slide2_3{
            position:absolute;
            width:pxrem(500);
            height:pxrem(60);
            top:pxrem(90);
            left:50%;
            margin-left:pxrem(-250);
            text-align:center;
            line-height:pxrem(60);
            font-size:pxrem(45);
            color:cornflowerblue;
        }
           .slide2_4{
            position:absolute;
            width:pxrem(400);
            height:pxrem(60);
            top:pxrem(200);
            left:50%;
            margin-left:pxrem(-200);
            font-size:pxrem(35);
            text-align:center;
            line-height:pxrem(60);
        }
        .slide2_5,.slide2_7,.slide2_6,.slide2_8{
            position:absolute;
            width:pxrem(400);
            height:pxrem(200);
            left:50%;
            margin-left:pxrem(-200);
        }
        .slide2_5{
              top:pxrem(300);
        }
        .slide2_6{
            top:pxrem(460);
        }
        .slide2_7{
            top:pxrem(640);
        }
        .slide2_8{
            top:pxrem(800);
        }
        .slide2_9,.slide2_10,.slide2_11,.slide2_12{
            position:absolute;
            width:pxrem(200);
            height:pxrem(100);
            text-align:center;
            line-height:pxrem(100);
            color:white;
            font-size:pxrem(30);
            font-weight:bolder;
            left:50%;
        }
           .slide2_9{
              top:pxrem(330);
               margin-left:pxrem(-20);
        }
        .slide2_10{
            top:pxrem(500);
             margin-left:pxrem(-160);
        }
        .slide2_11{
            top:pxrem(670);
             margin-left:pxrem(-20);
        }
        .slide2_12{
            top:pxrem(840);
              margin-left:pxrem(-160);
        }
		.slide2_13,.slide2_14,.slide2_15,.slide2_16{
			position:absolute;
			background:url(../img/47fd35c6-2b16-4450-b4aa-0f3909642c73-3061.png) no-repeat top left;
			background-size:100% 100%;
			width:pxrem(150);
			height:pxrem(150);
			left:50%;
			text-align:center;
			line-height:pxrem(150);
			font-size:pxrem(80);
			font-weight:bolder;
			font-family:"微软雅黑";
			
		}
		.slide2_13{
			 top:pxrem(310);
			 margin-left:pxrem(-260);
		}
		.slide2_14{
			 top:pxrem(460);
			 margin-left:pxrem(110);
		}
		.slide2_15{
			 top:pxrem(640);
			 margin-left:pxrem(-260);
		}
		.slide2_16{
			 top:pxrem(800);
			 margin-left:pxrem(110);
		}
     }
     .slide3{
         .slide3_1{
             position:absolute;
             top:pxrem(75);
             width:pxrem(70);
             height:pxrem(45);
             left:50%;
             margin-left:pxrem(-35);
         }
          .slide3_2{
             position:absolute;
             top:pxrem(25);
             width:pxrem(500);
             height:pxrem(8);
             left:50%;
             margin-left:pxrem(-250);
         }
         .slide3_3{
             position:absolute;
             top:pxrem(120);
             width:pxrem(235);
             height:pxrem(235);
             left:50%;
             margin-left:pxrem(-117.5);
         }
            .slide3_4{
             position:absolute;
             top:pxrem(151.5);
             width:pxrem(172);
             height:pxrem(172);
             left:50%;
             margin-left:pxrem(-86);
         }
         .slide3_5,.slide3_6{
             position:absolute;
             height:pxrem(60);
             width:pxrem(200);
             left:50%;
             margin-left:pxrem(-100);
             color:white;
             text-align:center;
             line-height:pxrem(60);
         }
         .slide3_5{
              top:pxrem(190);
               font-weight:bolder;
                font-family:"黑体";
                font-size:pxrem(35);
         }
         .slide3_6{
              top:pxrem(230);
              font-size:pxrem(30);
         }
         .slide3_7,.slide3_8,.slide3_9,.slide3_10,.slide3_11{
             position:absolute;
            width:pxrem(70);
             height:pxrem(45);
           }
          .slide3_7{
               top:pxrem(380);
                left:10%;
          }
          .slide3_8{
            top:pxrem(480);
            left:80%;
          }
           .slide3_9{
               top:pxrem(580);
                left:10%;
          }
          .slide3_10{
            top:pxrem(680);
            left:80%;
          }
           .slide3_11{
               top:pxrem(780);
                left:10%;
          }
          .slide3_12,.slide3_13,.slide3_14,.slide3_15,.slide3_16{
              width:pxrem(40);
              height:pxrem(40);
              position:absolute;
          }
          .slide3_12{
               top:pxrem(380);
                left:30%;
          }
           .slide3_13{
               top:pxrem(480);
                left:65%;
          }
           .slide3_14{
               top:pxrem(580);
                left:30%;
          }
           .slide3_15{
               top:pxrem(680);
                left:65%;
          }
           .slide3_16{
               top:pxrem(780);
                left:30%;
          }
          .slide3_17,.slide3_18,.slide3_19,.slide3_20,.slide3_21{
              position:absolute;
              width:pxrem(300);
              height:pxrem(50);
          }
          .slide3_17{
               top:pxrem(377);
                left:40%;
          }
         .slide3_18{
               top:pxrem(477);
                left:10%;
          }
           .slide3_19{
               top:pxrem(577);
                left:40%;
          }
         .slide3_20{
               top:pxrem(677);
                left:10%;
          }
           .slide3_21{
               top:pxrem(777);
                left:40%;
          }
       .slide3_22,.slide3_23{
           position:absolute;
           width:pxrem(150);
           height:pxrem(22);
           top:pxrem(226.5);
           left:50%;
       }
       .slide3_22{
           margin-left:pxrem(-270);
       }
       .slide3_23{
           margin-left:pxrem(120);
       }
	   .slide3_24,.slide3_25,.slide3_26,.slide3_27,.slide3_28,.slide3_29,.slide3_30,.slide3_31,.slide3_32,.slide3_33{
			position:absolute;
			 width:pxrem(200);
             height:pxrem(50);
			 text-align:center;
			 line-height:pxrem(50);
		 }
		 .slide3_24,.slide3_25{
			 top:pxrem(377);
		 }
		 .slide3_26,.slide3_27{
			 top:pxrem(477);
		 }
		 .slide3_28,.slide3_29{
			 top:pxrem(577);
		 }
		 .slide3_30,.slide3_31{
			 top:pxrem(677);
		 }
		 .slide3_32,.slide3_33{
			 top:pxrem(777);
		 }
		.slide3_24,.slide3_26,.slide3_28,.slide3_30,.slide3_32{
			font-size:pxrem(24);
			color:green;
			font-weight:bolder;
		}
		.slide3_25,.slide3_27,.slide3_29,.slide3_31,.slide3_33{
			font-size:pxrem(20);
			color:black;
		}
		.slide3_24,.slide3_32,.slide3_28{
			 left:35%;
		}
		.slide3_25,.slide3_33,.slide3_29{
			 left:60%;
		}
		.slide3_26,.slide3_30{
			left:6%;
		}
		.slide3_27,.slide3_31{
			left:28%;
		}
     }
     
     .slide4{
         .slide4_1{
             position:absolute;
             top:pxrem(75);
             width:pxrem(70);
             height:pxrem(45);
             left:50%;
             margin-left:pxrem(-35);
         }
           .slide4_2{
             position:absolute;
             top:pxrem(25);
             width:pxrem(500);
             height:pxrem(8);
             left:50%;
             margin-left:pxrem(-250);
         }
         .slide4_3{
             position:absolute;
             top:pxrem(120);
             width:pxrem(235);
             height:pxrem(235);
             left:50%;
             margin-left:pxrem(-117.5);
         }
            .slide4_4{
             position:absolute;
             top:pxrem(151.5);
             width:pxrem(172);
             height:pxrem(172);
             left:50%;
             margin-left:pxrem(-86);
         }
         .slide4_5,.slide4_6{
             position:absolute;
             height:pxrem(60);
             width:pxrem(200);
             left:50%;
             margin-left:pxrem(-100);
            
             color:white;
             text-align:center;
             line-height:pxrem(60);
         }
         .slide4_5{
              top:pxrem(190);
               font-weight:bolder;
                font-family:"黑体";
                 font-size:pxrem(35);
         }
         .slide4_6{
              top:pxrem(230);
               font-size:pxrem(30);
         }
         .slide4_7,.slide4_8,.slide4_9{
             position:absolute;
             width:pxrem(219);
             height:pxrem(252.5);
             top:pxrem(500);
             left:50%;
             margin-left:pxrem(-109.5);
         }
         .slide4_10,.slide4_11,.slide4_12,.slide4_13,.slide4_14,.slide4_15{
             position:absolute;
             height:pxrem(100);
             width:pxrem(100);
             border-radius:50%;
             -webkit-border-radius:50%;
             background:rgba(255,255,255,1);
             left:50%;
             text-align:center;
             line-height:pxrem(100);
             font-size:pxrem(25);
             
         }
         .slide4_10{
             top:pxrem(400);
             margin-left:pxrem(-50);
			 box-shadow:0px -5px 10px red inset;
         }
         .slide4_11{
              top:pxrem(480);
              margin-left:pxrem(-200);
			   box-shadow:-5px 5px 10px yellow;
         }
         .slide4_12{
              top:pxrem(480);
              margin-left:pxrem(100);
			  box-shadow:5px 5px 10px blue;
         }
          .slide4_13{
              top:pxrem(675);
              margin-left:pxrem(-200);
			  box-shadow:-5px 5px 10px green;
         }
         .slide4_14{
              top:pxrem(675);
              margin-left:pxrem(100);
			   box-shadow:5px 5px 10px yellow;
         }
          .slide4_15{
             top:pxrem(752.5);
             margin-left:pxrem(-50);
			  box-shadow:0px 5px 10px red inset; 
         }
         .slide4_16,.slide4_17{
           position:absolute;
           width:pxrem(150);
           height:pxrem(22);
           top:pxrem(226.5);
           left:50%;
       }
       .slide4_16{
           margin-left:pxrem(-270);
       }
       .slide4_17{
           margin-left:pxrem(120);
       }
     }
     
     .slide5{
         .slide5_1{
             position:absolute;
             top:pxrem(75);
             width:pxrem(70);
             height:pxrem(45);
             left:50%;
             margin-left:pxrem(-35);
         }
           .slide5_2{
             position:absolute;
             top:pxrem(25);
             width:pxrem(500);
             height:pxrem(8);
             left:50%;
             margin-left:pxrem(-250);
         }
         .slide5_3{
             position:absolute;
             top:pxrem(120);
             width:pxrem(235);
             height:pxrem(235);
             left:50%;
             margin-left:pxrem(-117.5);
         }
            .slide5_4{
             position:absolute;
             top:pxrem(151.5);
             width:pxrem(172);
             height:pxrem(172);
             left:50%;
             margin-left:pxrem(-86);
         }
         .slide5_5,.slide5_6{
             position:absolute;
             height:pxrem(60);
             width:pxrem(200);
             left:50%;
             margin-left:pxrem(-100);
            color:white;
             text-align:center;
             line-height:pxrem(60);
         }
         .slide5_5{
              top:pxrem(190);
               font-weight:bolder;
                font-family:"黑体";
                 font-size:pxrem(35);
         }
         .slide5_6{
              top:pxrem(230);
               font-size:pxrem(30);
         }
         .slide5_7,.slide5_8{
           position:absolute;
           width:pxrem(150);
           height:pxrem(22);
           top:pxrem(226.5);
           left:50%;
       }
        .slide5_7{
           margin-left:pxrem(-270);
       }
        .slide5_8{
           margin-left:pxrem(120);
       }
       
       .slide5_9{
            margin-left:pxrem(-250);
            top:pxrem(350);
       }
       .slide5_10{
            margin-left:pxrem(-120);
            top:pxrem(400);
       }
       .slide5_11{
            top:pxrem(400);
        }
       .slide5_12{
            margin-left:pxrem(130);
            top:pxrem(350);
       }
       .slide5_9,.slide5_10,.slide5_11,.slide5_12{
            position:absolute;
             left:50%;
            width:pxrem(80);
            height: pxrem(80);
           perspective: 500px;
           -webkit-perspective: 500px;
            #list{
                width: 100%;
                height: 100%;
                position: absolute;
                top:0px;
                left:0px;
                animation:along2 6s 0s linear infinite;
                -webkit-animation:along2 6s 0s linear infinite;
                transform-style: preserve-3d;
				-webkit-transform-style: preserve-3d;
                
                transform-origin: center center pxrem(-50);
                -webkit-transform-origin: center center pxrem(-50);
                li{
                    position: absolute;
                    top:0px;
                    left:0px;
                    width: 100%;
                    height: 100%;
                    font-size:pxrem(28);
                    text-align:center;
                    font-weight:bolder;
                    color:red;
                    line-height:pxrem(30);
                    border:5px double rgba(255,255,255,0.6);
                    box-sizing:border-box;
                }
                li:nth-child(2){
                    left:pxrem(-80);
                    transform-origin: right;/*//基准位置右边,逆时针旋转*/
					-webkit-transform-origin: right;
                    transform: rotateY(-90deg);
                    -webkit-transform: rotateY(-90deg);
                }
                i:nth-child(3){
                    left:pxrem(80);
                    transform-origin: left; /*//基准位置左边,顺时针旋转*/
					-webkit-transform-origin: left;
                    transform: rotateY(90deg);
                    -webkit-transform: rotateY(-90deg);
                }
                li:nth-child(5){
                    top:pxrem(-80);
                    transform-origin: bottom; /*基准位置 在下边, 顺时针旋转*/
					-webkit-transform-origin: bottom;
                    transform:rotateX(90deg);
                    -webkit-transform: rotateX(90deg);
                }
                li:nth-child(6){
                    top:pxrem(80);
                    transform-origin: top;  /*基准位置上边, 逆时针旋转*/
					-webkit-transform-origin: top;
                    transform: rotateX(-90deg);
                    -webkit-transform: rotateX(-90deg);
                }
                li:nth-child(4){
                    transform: rotateY(180deg) translateZ(pxrem(80));
                    -webkit-transform: rotateY(180deg) translateZ(pxrem(80));
                }
            }
       }
	   .slide5_13{
			top:pxrem(500);
			margin-left:pxrem(-250);
	   }
	   .slide5_14{
			top:pxrem(520);
			margin-left:pxrem(-200);
	   }
	    .slide5_15{
			top:pxrem(550);
			margin-left:pxrem(-70);
	   }
	   .slide5_16{
			top:pxrem(550);
			margin-left:pxrem(-10);
	   }
	    .slide5_17{
			top:pxrem(520);
			margin-left:pxrem(100);
	   }
	   .slide5_18{
			top:pxrem(500);
			margin-left:pxrem(160);
	   }
	   .slide5_13,.slide5_14{
			ul{
				li{
					color:red;
					box-shadow:5px 5px 10px gray inset;
					animation:alongrotateY1 2s linear infinite;
					-webkit-animation:alongrotateY1 2s linear infinite;
				}
			}
	   }
	    .slide5_15,.slide5_16{
			ul{
				li{
					color:green;
					box-shadow:0px 5px 20px gray inset;
					animation:alongrotateZ1 2s linear infinite;
					-webkit-animation:alongrotateZ1 2s linear infinite;
				}
			}
	   }
	   .slide5_17,.slide5_18{
			ul{
				li{
					color:blue;
					box-shadow:-5px 5px 10px gray inset;
					animation:alongrotateY2 2s linear infinite;
					-webkit-animation:alongrotateY2 2s linear infinite;
				}
			}
	   }
	   .slide5_13,.slide5_14,.slide5_15,.slide5_16,.slide5_17,.slide5_18{
			width:pxrem(50);
			position:absolute;
			left:50%;
			-webkit-perspective: 400px;
		    -moz-perspective: 400px;
		    -ms-perspective: 400px;
		    -o-perspective: 400px;
		    perspective: 400px;
			ul{
				width:pxrem(50);
				position:relative;
				li{
					position:absolute;
					width:pxrem(50);
					height:pxrem(50);
					text-align:center;
					line-height:pxrem(50);
					
					left:0px;
					font-weight:bolder;
					border-radius:50%;
					font-size:pxrem(24);
				}
				li:nth-child(1){
					animation-delay: 0ms;
					-webkit-animation-delay: 0ms;
					top:0px;
					opacity:1;
				}
				li:nth-child(2){
					animation-delay: 300ms;
					-webkit-animation-delay: 300ms;
					top:pxrem(50);
					opacity:0.9;
				}
				li:nth-child(3){
					animation-delay: 600ms;
					-webkit-animation-delay: 600ms;
					top:pxrem(100);
					opacity:0.8;
				}
				li:nth-child(4){
					animation-delay: 900ms;
					-webkit-animation-delay: 900ms;
					top:pxrem(150);
					opacity:0.7;
				}
				li:nth-child(5){
					animation-delay: 1200ms;
					-webkit-animation-delay: 1200ms;
					top:pxrem(200);
					opacity:0.6;
				}
				li:nth-child(6){
					animation-delay: 1500ms;
					-webkit-animation-delay: 1500ms;
					top:pxrem(250);
					opacity:0.5;
				}
				li:nth-child(7){
					animation-delay: 1800ms;
					-webkit-animation-delay: 1800ms;
					top:pxrem(300);
					opacity:0.4;
				}
				li:nth-child(8){
					animation-delay: 2100s;
					-webkit-animation-delay: 2100s;
					top:pxrem(350);
					opacity:0.3;
				}
				
			}
	   }
	   
     }
     
     .slide6{
         .slide6_1{
             position:absolute;
             top:pxrem(75);
             width:pxrem(70);
             height:pxrem(45);
             left:50%;
             margin-left:pxrem(-35);
         }
           .slide6_2{
             position:absolute;
             top:pxrem(25);
             width:pxrem(500);
             height:pxrem(8);
             left:50%;
             margin-left:pxrem(-250);
         }
         .slide6_3{
             position:absolute;
             top:pxrem(120);
             width:pxrem(235);
             height:pxrem(235);
             left:50%;
             margin-left:pxrem(-117.5);
         }
            .slide6_4{
             position:absolute;
             top:pxrem(151.5);
             width:pxrem(172);
             height:pxrem(172);
             left:50%;
             margin-left:pxrem(-86);
         }
         .slide6_5,.slide6_6{
             position:absolute;
             height:pxrem(60);
             width:pxrem(200);
             left:50%;
             margin-left:pxrem(-100);
            color:white;
             text-align:center;
             line-height:pxrem(60);
         }
         .slide6_5{
              top:pxrem(190);
               font-weight:bolder;
                font-family:"黑体";
                font-size:pxrem(35);
         }
         .slide6_6{
              top:pxrem(230);
              font-size:30px;
         }
         .slide6_7,.slide6_8{
           position:absolute;
           width:pxrem(150);
           height:pxrem(22);
           top:pxrem(226.5);
           left:50%;
       }
        .slide6_7{
           margin-left:pxrem(-270);
       }
        .slide6_8{
           margin-left:pxrem(120);
       }
     }
     
     .slide7{
         .slide7_1{
             position:absolute;
             top:pxrem(75);
             width:pxrem(70);
             height:pxrem(45);
             left:50%;
             margin-left:pxrem(-35);
         }
           .slide7_2{
             position:absolute;
             top:pxrem(25);
             width:pxrem(500);
             height:pxrem(8);
             left:50%;
             margin-left:pxrem(-250);
         }
         .slide7_3{
             position:absolute;
             top:pxrem(120);
             width:pxrem(235);
             height:pxrem(235);
             left:50%;
             margin-left:pxrem(-117.5);
         }
            .slide7_4{
             position:absolute;
             top:pxrem(151.5);
             width:pxrem(172);
             height:pxrem(172);
             left:50%;
             margin-left:pxrem(-86);
         }
         .slide7_5,.slide7_6{
             position:absolute;
             height:pxrem(60);
             width:pxrem(200);
             left:50%;
             margin-left:pxrem(-100);
             color:white;
             text-align:center;
             line-height:pxrem(60);
         }
         .slide7_5{
              top:pxrem(190);
               font-weight:bolder;
                font-family:"黑体";
                font-size:pxrem(35);
         }
         .slide7_6{
              top:pxrem(230);
              font-size:pxrem(30);
         }
         .slide7_7,.slide7_8{
           position:absolute;
           width:pxrem(150);
           height:pxrem(22);
           top:pxrem(226.5);
           left:50%;
       }
        .slide7_7{
           margin-left:pxrem(-270);
       }
        .slide7_8{
           margin-left:pxrem(120);
           
       }
	   .slide7_9,.slide7_10,.slide7_11,.slide7_12{
		position:absolute;
		left:50%;
		width:pxrem(400);
		height:pxrem(80);
		text-align:center;
		line-height:pxrem(80);
		font-size:pxrem(30);
		margin-left:pxrem(-200);
	   }
	   .slide7_9{
			top:pxrem(400);
			color:white;
	   }
	    .slide7_10{
			top:pxrem(480);
			color:white;
	   }
		.slide7_11{
			top:pxrem(640);
			color:white;
	   }
	    .slide7_12{
			top:pxrem(720);
			color:white;
	   }
     }
} 



@keyframes along2{
                0%{
                    transform:rotateY(0deg) rotateX(15deg) scale(1);
					-webkit-transform:rotateY(0deg) rotateX(15deg) scale(1);
                }
                100%{
                    transform:rotateY(180deg) rotateX(15deg) scale(1);
					-webkit-transform:rotateY(180deg) rotateX(15deg) scale(1);
                }
   }
   
   @-webkit-keyframes along2{
                0%{
                    transform:rotateY(0deg) rotateX(15deg) scale(1);
					-webkit-transform:rotateY(0deg) rotateX(15deg) scale(1);
                }
                100%{
                    transform:rotateY(180deg) rotateX(30deg) scale(1);
					-webkit-transform:rotateY(180deg) rotateX(15deg) scale(1);
                }
     }

@keyframes alongrotateY1{
			from{
				transform:rotateY(-90deg);
				-webkit-transform:rotateY(-90deg);
			}
			to{
				transform:rotateY(0deg);
				-webkit-transform:rotateY(0deg);
				opacity:1;
			}
}
@-webkit-keyframes alongrotateY1{
			from{
				transform:rotateY(-90deg);
				-webkit-transform:rotateY(-90deg);
			}
			to{
				transform:rotateY(0deg);
				-webkit-transform:rotateY(0deg);
				opacity:1;
			}
}

@keyframes alongrotateY2{
			from{
				transform:rotateY(90deg);
				-webkit-transform:rotateY(90deg);
			}
			to{
				transform:rotateY(0deg);
				-webkit-transform:rotateY(0deg);
				opacity:1;
			}
}
@-webkit-keyframes alongrotateY2{
			from{
				transform:rotateY(90deg);
				-webkit-transform:rotateY(90deg);
			}
			to{
				transform:rotateY(0deg);
				-webkit-transform:rotateY(0deg);
				opacity:1;
			}
}

@keyframes alongrotateZ1{
			0%{
				transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
			25%{
				transform:rotate(30deg);
				-webkit-transform:rotate(30deg);
				opacity:1;
			}
			50%{
				transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
			75%{
				transform:rotate(-30deg);
				-webkit-transform:rotate(-30deg);
				opacity:1;
			}
			100%{
				transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
}
@-webkit-keyframes alongrotateZ1{
				0%{
				transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
			25%{
				transform:rotate(30deg);
				-webkit-transform:rotate(30deg);
				opacity:1;
			}
			50%{
				transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
			75%{
				transform:rotate(-30deg);
				-webkit-transform:rotate(-30deg);
				opacity:1;
			}
			100%{
				transform:rotate(0deg);
				-webkit-transform:rotate(0deg);
			}
}
 